<!DOCTYPE html>
<html>
<head>
    <title>Sucesso!</title>
    <style>
        body { 
            font-family: 'Comic Sans MS', sans-serif; 
            background: #6cac18; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 100vh; 
            margin: 0;
            color: white;
        }
        .message { text-align: center; font-size: 3rem; font-weight: bold; }
    </style>
</head>
<body>
    <div class="message">
        dados foram salvos broo 🌳
        <br>
        <a href="/calcular/" style="color: #f4f4f4; font-size: 1rem;">Voltar</a>
    </div>
</body>
</html>